@font-face {
    font-family: shabnam;
    font-weight: 100;
    font-style: normal;
    src: url('../public/fonts/shabnam/Shabnam-Thin-WOL.eot');
    src: url('../public/fonts/shabnam/Shabnam-Thin-WOL.eot') format("embedded-opentype"),
    /* IE6-8 */ url('../public/fonts/shabnam/Shabnam-Thin-WOL.woff')
    format("woff"),
    /* FF3.6+, IE69, Chrome6+, Saff5.1++ */ url('../public/fonts/shabnam/Shabnam-Thin-WOL.woff2')
    format("woff2"),
    /* FF39+, Chrome36+, Opera++*/ url('../public/fonts/shabnam/Shabnam-Thin-WOL.ttf')
    format("truetype");
}

@font-face {
    font-family: shabnam;
    font-weight: 300;
    font-style: normal;
    src: url('../public/fonts/shabnam/Shabnam-Light-WOL.eot');
    src: url('../public/fonts/shabnam/Shabnam-Light-WOL.eot') format("embedded-opentype"),
    /* IE6-8 */ url('../public/fonts/shabnam/Shabnam-Light-WOL.woff')
    format("woff"),
    /* FF3.6+, IE69, Chrome6+, Saff5.1++ */ url('../public/fonts/shabnam/Shabnam-Light-WOL.woff2')
    format("woff2"),
    /* FF39+, Chrome36+, Opera++*/ url('../public/fonts/shabnam/Shabnam-Light-WOL.ttf')
    format("truetype");
}

@font-face {
    font-family: shabnam;
    font-weight: 500;
    font-style: normal;
    src: url('../public/fonts/shabnam/Shabnam-Medium-WOL.eot');
    src: url('../public/fonts/shabnam/Shabnam-Medium-WOL.eot') format("embedded-opentype"),
    /* IE6-8 */ url('../public/fonts/shabnam/Shabnam-Medium-WOL.woff')
    format("woff"),
    /* FF3.6+, IE69, Chrome6+, Saff5.1++ */ url('../public/fonts/shabnam/Shabnam-Medium-WOL.woff2')
    format("woff2"),
    /* FF39+, Chrome36+, Opera++*/ url('../public/fonts/shabnam/Shabnam-Medium-WOL.ttf')
    format("truetype");
}

@font-face {
    font-family: shabnam;
    font-weight: bold;
    font-style: normal;
    src: url('../public/fonts/shabnam/Shabnam-Bold-WOL.eot');
    src: url('../public/fonts/shabnam/Shabnam-Bold-WOL.eot') format("embedded-opentype"),
    /* IE6-8 */ url('../public/fonts/shabnam/Shabnam-Bold-WOL.woff')
    format("woff"),
    /* FF3.6+, IE69, Chrome6+, Saff5.1++ */ url('../public/fonts/shabnam/Shabnam-Bold-WOL.woff2')
    format("woff2"),
    /* FF39+, Chrome36+, Opera++*/ url('../public/fonts/shabnam/Shabnam-Bold-WOL.ttf')
    format("truetype");
}